rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {
        match /petitions/{petition_id} {
            match /signers/{signer_id} {
                match /public/data {
                    allow read;
                }
            }
        }
    }
}
