rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {
        match /petitions/{petition_id} {
            // Allow public read of signer public data
            match /signers/{signer_id} {
                allow read;
            }
        }
    }
}
