

// Theme
:root
    --vp-c-brand: #aaaa00
    --vp-c-brand-light: #cccc22
    --vp-c-brand-lighter: #dddd33
    --vp-c-brand-dark: #888800
    --vp-c-brand-darker: #777700
    --vp-home-hero-name-color: #cccc00


// Don't show header anchors (most users won't understand them)
.header-anchor
    display: none


// Hide navbar whenever sidebar also hidden (just intended for homepage)
// Workaround due to https://github.com/vuejs/vitepress/issues/522
.VPNav.no-sidebar
    display: none

// Hide prev/next footer whenever aside also hidden
// Used for quiz and articles
.VPDoc:not(.has-aside) .VPDocFooter
    display: none


// Show icon on homepage
.VPHomeHero .container
    background-image: url(/_assets/icon.svg)
    background-repeat: no-repeat
    background-position-x: center
    background-size: 12vw
    padding-top: 18vw



.good
    color: hsla(120, 50%, 50%)
.bad
    color: hsla(0, 50%, 50%)
.mixed
    color: hsla(30, 50%, 50%)


q
    opacity: 0.7
    font-style: italic


.vp-doc

    &[class*='_articles_']
        max-width: 720px  // Account for missing aside

    // Increase font-size/line-height for body text on wide screens
    p, li, blockquote > p
        line-height: 1.65
        font-size: 16px
        @media (min-width: 800px)
            font-size: 18px

    blockquote > p
        margin: 16px  // Stop VP from removing p margins in blockquotes


// Custom classes for use in articles
.article-meta
    margin: 1em 0
    opacity: 0.8

.article-hero
    margin: 24px 0

.article-preview
    display: flex
    flex-direction: column
    background-color: hsla(0deg, 0%, 50%, 0.15)
    border-radius: 12px
    margin: 24px 0
    overflow: hidden
    color: inherit !important

    img
        width: 100%

    div
        padding: 16px

    h3
        margin: 0
        margin-bottom: 0.5em

    p
        font-size: 0.9em
        margin: 0

    @media (min-width: 600px)
        // Wide formatting that displays image to left of text
        flex-direction: row

        img
            width: 250px
